
@import "imports/variables.css";

@component Counter {
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid #dbdbdb;
  border-radius: var(--border-radius);
  display: inline-flex;
  height: 36px;
  padding: 8px 30px;
  position: relative;
  user-select: none;
  width: 80px;

  @descendent button {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    fill: var(--color-tomato);
    justify-content: center;
    position: absolute;
    top: 0;
    width: 30px;

    &:hover {
      fill: var(--color-tomato-hover);
    }

    @modifier increment {
      right: 0;
    }

    @modifier decrement {
      left: 0;
    }

    @when disabled {
      cursor: default;
      opacity: .3;

      &:hover {
        fill: var(--color-tomato);
      }
    }
  }

  @descendent value {
    color: var(--color-prunes);
    font-size: 18px;
    height: 100%;
    line-height: 16px;
    pointer-events: none;
    text-align: center;
    width: 100%;
  }
}
