
@import "imports/variables.css";

@component Textarea {
  @modifier icon {
    .Textarea-field {
      padding-right: 40px;
    }
  }

  @when error {
    .Textarea-field {
      border-color: var(--color-paprika);
    }
  }

  @descendent fieldContainer {
    position: relative;
  }

  @descendent field {
    border: 1px solid var(--gray-81);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--color-prunes);
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    padding: 8px 10px;
    resize: none;
    vertical-align: middle;
    outline: none;
    width: 100%;

    &:focus {
      border-color: var(--color-tomato);
    }
  }

  @descendent iconContainer {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;

    @modifier clickable {
      cursor: pointer;
    }
  }

  @descendent icon {
    fill: #c5c5c5;
  }

  @descendent errorMessage {
    color: var(--color-paprika);
    font-size: 13px;
    line-height: 16px;
    padding-top: 10px;
  }
}
