
@import "imports/variables.css";

@component PredefinedOptions {
  margin-left: -10px;

  @descendent label {
    color: #a8a8a8;
    margin-left: 10px;
  }

  @descendent option {
    display: inline-block;
    padding: 3.5px 17px;
    height: 30px;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 10px;

    color: var(--color-prunes);
    background-color: #fff;

    border-radius: 25px;
    border: 1px solid var(--color-broccoli);

    outline: none;
    cursor: pointer;

    &:active {
      color: #fff;
      background-color: var(--color-broccoli);
    }

    @when selected {
      color: #fff;
      background-color: var(--color-broccoli);

      &:active {
        color: var(--color-prunes);
        background-color: #fff;
      }
    }
  }
}
