/* =============================================================== */
/* Print Shopping list - printed shopping list
/* =============================================================== */

@import "imports/mixins.css";
@import "imports/variables.css";

/* Print style setup
/* =============================================================== */
@media print {
  @page {
    margin: 0.25cm;
  }
}

@component FontLarge {
  font-size: 1.2em;
}

/* Print list header - main header with actions and print button
/* ============================================================= */
@component PrintHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 840px;
  padding: 6px 10px;
  border: none;
  background: #f0f0f0;

  @media print {
    display: none;
  }

  @descendent logo {
    display: block;
  }

  @descendent logoImage {
    height: 27px;
    width: auto;
  }

  @descendent printActions {
    width: 640px;
    display: flex;
    justify-content: space-between;
  }

  @descendent printButton {
    padding: 7px 15px 8px;
    width: 100%;
    max-width: 190px;
    color: #FFF;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--color-broccoli);
    border-radius: 4px;
    border: none;
  }
}

/* Print option - option for the print list screen
/* ============================================================= */
@component PrintOption {
  .button {
    margin-right: 0; /* Reset semantic ui style */
  }

  @descendent label {
    font-size: 0.85em;
    display: block;
    line-height: 1;
    margin-bottom: 3px;
  }

  @descendent toggle {
    display: flex;
    align-items: center;
    line-height: 1;

    @descendent label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    @descendent name {}
    @descendent switch {
      margin: 0 3px;
    }
    @descendent field {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    @descendent outerDecorContainer {
      margin: 0;
      padding: 2px;
      width: 22px;
      height: 14px;
      border-radius: 11px;
      vertical-align: middle;
      background-color: var(--color-broccoli);
      cursor: pointer;
      transition: background-color .3s ease;
    }
    @descendent innerDecorContainer {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #FFF;
      transition: transform .3s ease;
      pointer-events: none;
    }
  }

  @descendent toggleIcon {
    margin: 0 5px;
    font-size: 1.2em;
  }
}

.PrintOption-toggle-field[type="checkbox"]:checked + .PrintOption-toggle-outerDecorContainer .PrintOption-toggle-innerDecorContainer {
  transform: translate3d(8px,0,0);
}

/* Print preview - preview section of print document
/* ============================================================= */
@component PrintPreview {
  width: 840px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: #858585 1px dashed;
  padding: 15px;
  padding-top: 0;
  border-radius: 3px;

  @media print {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -25px;
    border: none;
  }
}

/* Print half - sets up the page fold in the centre
/* ============================================================= */
@component PrintHalfWrap {
  display: table;
  width: 100%;

  @descendent logo {
    margin-top: 24px;
    margin-bottom: 13px;
    width: 114px;
    height: 40px;
    fill: var(--color-broccoli);
  }

  @descendent printHalf {
    display: table-cell;
    width: 50%;

    @media print {
      page-break-inside: avoid;
    }

    &:first-of-type {
      padding-right: 15px;
    }
  }

  @descendent printBottom {
    vertical-align: bottom;

    @media print {
      padding-left: 15px;
    }
  }

  @descendent printHeader {
    text-align: center;
    margin-bottom: 20px;
  }

  @descendent bannerAd {
    vertical-align: bottom;
    padding-bottom: 20px;
    padding-left: 15px;
  }
}

@component PrintChecklistColumns {
  position: relative;
  display: table;
  width: 100%;
}

/* List - printed shopping list
/* ============================================================= */
@component PrintList {
  @mixin resetList;
  display: table-cell;
  vertical-align: top;
  width: 75%;

  ul {
    @mixin resetList;
  }
}

@component PrintListGroup {
  width: 33%;
  padding-right: 10px;
  padding-left: 20px;

  @descendent wrap {
    border-left: #333 8px solid;
  }

  &:nth-child(2n) {
    .PrintListGroup-wrap {
      border-color: #ccc;
    }

    .PrintListGroup-heading {
      border-color: #ccc;
      background: #ccc;
    }
  }

  @descendent heading {
    -webkit-print-color-adjust: exact;
    padding: 3px 3px 3px 5px;
    border-top: #333 1px solid;
    color: #fff;
    text-transform: uppercase;
    background: #333;

    h4 {
      font-size: 0.85em;
      font-weight: normal;
    }
  }


  @descendent item {
    border-bottom: #858585 1px dotted
  }

  @descendent label {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 5px;
    font-size: 0.8em;
    line-height: 1.3;

    .recipe_key {
      color: #858585;
      margin-left: 3px;
    }

    @descendent checkbox {
      display: block;
      margin-right: 10px;
      width: 16px;
      height: 16px;
      flex: 0 0 16px;
      border: 1px solid #C2C2C2;
    }
  }
}

/* Print page separator - dashed like for folding
/* ============================================================= */
@component PrintPageSeparator {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  border-right: #858585 1px dashed;
}

/* Footer containing extra info and app links
/* ============================================================= */
@component PrintFooter {
  margin-top: 20px;
}

/* Print more info - shopping list advice in print footer
/* ============================================================= */
@component PrintMoreInfo {
  position: relative;
  padding: 5px 5px 5px 40px;
  margin-top: 10px;
  border: 1px dashed #858585;
  border-radius: 10px;
  font-size: 0.75em;

  @media print {
    page-break-inside: avoid;
  }

  @modifier largeIcon {
    padding: 5px 5px 5px 50px;

    .PrintMoreInfo-icon {
      top: 10px;
      width: 33px;
    }
  }

  @descendent icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: auto;
  }
}

/* Download app buttons & description
/* ============================================================= */
@component PrintDownloadApps {
  text-align: center;

  @media print {
    page-break-inside: avoid;
  }

  @descendent message {
    margin-bottom: 5px;
    font-size: 0.85em;
    line-height: 1.2;
  }

  @descendent link {
    font-size: 1.2em;
  }

  @descendent buttons {
    img {
      height: 16px;
      width: auto;
      margin-right: 3px;
      vertical-align: middle;
    }
  }
}

/* For Firefox, the checklist and extras columns need to be 50% all of the time */
@-moz-document url-prefix() {
  @component PrintList {
    width: 50% !important;
    padding-right: !important;

    > li {
      width: 100% !important;
      position: initial !important;
      top: initial !important;
      left: initial !important;
    }
  }

  @component PrintListKey {
    width: 50% !important;
    padding-left: 20px !important;
    position: initial !important;
  }
}
