
@import "imports/variables.css";
@import "imports/media-queries.css";

@component StoreDropdown {
  display: flex;
  flex: 1 0 auto;
  margin-left: 15px;
  position: relative;

  @descendent button {
    flex-grow: 1;

    @modifier withToggle {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: none;      
    }

    @descendent image {
      vertical-align: bottom;
    }

    @descendent text {
      @media (--xs) {
        display: none;
      }

      @modifier desktop {
        display: none;

        @media (--xs) {
          display: inline;
        }
      }
    }
  }

  @descendent toggle {
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 1px solid rgba(255, 255, 255, .5)!important;
    flex-grow: 0;
  }

  @descendent dropdown {
    backface-visibility: hidden;
    background-color: var(--color-white);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    box-shadow: 0px 8px 15px 0px rgba(111, 111, 111, 0.33);
    padding: 5px 0;
    position: absolute;
    right: 0;
    top: 130%;
    transform-origin: center top;
    visibility: visible;
    width: 100%;
    z-index: 12;

    &:before {
      background-color: var(--color-white);
      border-left: 1px solid rgba(0,0,0,0.12);
      border-top: 1px solid rgba(0,0,0,0.12);
      box-shadow: none;
      content: '';
      height: 10px;
      left: 50%;
      position: absolute;
      top: -6px;
      transform: rotate(45deg);
      width: 10px;
      z-index: 12;
    }
  }

  @descendent dropdownItem {
    cursor: pointer;
    line-height: 0;
    padding: 10px;
    text-align: center;
    z-index: 2;

    &:hover {
      background-color: #f6f6f6;
      color: var(--color-prunes-hover);
    }

    @when selected {
      background-color: #f6f6f6;
      color: var(--color-prunes-hover);
    }

    @descendent image {
      height: 20px;
    }
  }
}
