
@import "imports/variables.css";
@import "imports/media-queries.css";

@component Slider {
  padding: 15px 0;
  cursor: pointer;

  @descendent line {
    height: 5px;
    background: var(--color-tomato-bg);
    border-radius: 5px;
    position: relative;

    @descendent fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: var(--color-tomato);
      border-radius: 5px;
      z-index: 1;

      @modifier descrete {
        transition: width 0.2s ease;
      }
    }

    @descendent thumb {
      width: 15px;
      height: 15px;
      margin: -7.5px 0 0 -7.5px;
      position: absolute;
      top: 50%;
      left: 0%;

      background: var(--color-tomato);
      border-radius: 15px;
      z-index: 1;

      @modifier descrete {
        transition: left 0.2s ease;
      }

      @modifier pressed {
        width: 22px;
        height: 22px;
        margin: -11px 0 0 -11px;
      }
    }
  }
}
