
@import "imports/media-queries.css";

@component RecipePagePrint {
  display: none;

  @media (--m) {
    display: block;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #e0e0e0;
  }

  @descendent button {
    display: inline-block;
    margin-right: 30px;
  }
}
