
@import "imports/variables.css";
@import "imports/media-queries.css";

@component ShoppingList {
  @descendent popularItem {
    cursor: pointer;
    padding: 10px var(--grid-offset);
    cursor: pointer;
    font-size: 16px;

    @when selected {
      background-color: #D8F2DE;
    }

    &:hover {
      color: var(--color-broccoli);
    }
  }
}
