
@import "imports/variables.css";
@import "imports/media-queries.css";

@component SearchFilters {
  padding: 20px 20px 0 20px;

  @descendent description {
    margin-bottom: 20px;
  }

  @descendent toggler {
    margin-bottom: 1px;

    @descendent body {
      margin-top: 15px;
      padding-bottom: 20px;
    }

    @descendent heading {
      display: flex;
      flex-direction: row;
      align-items: center;

      cursor: pointer;
      background-color: #F0F0F0;
      padding: 6px 20px;
      margin: 0 -20px;
      font-size: 14px;
      line-height: 18px;
      height: 40px;

      &, &:hover, &:active, &:focus {
        color: #707070;
      }

      @descendent icon {
        width: 12px;
        height: 8px;
        fill: #707070;
        transition: transform 0.2s ease;
        transform: rotateZ(180deg);

        @modifier collapsed {
          transform: rotateZ(0deg);
        }
      }

      @descendent text {
        display: block;
        flex: 1;
      }
    }
  }

  @descendent tagsPicker {

    @descendent tag {
      display: inline-block;
      padding: 4px 13px;
      border-radius: 20px;
      margin-top: 10px;
      margin-right: 5px;
      font-size: 15px;
      line-height: 17px;

      @modifier broccoli {
        color: var(--color-broccoli-text);
        background: var(--color-broccoli-light);
      }

      @modifier paprika {
        color: var(--color-paprika-text);
        background: var(--color-paprika-light);
      }

      @descendent iconWrapper {
        padding: 8px;
        margin: -8px;
        display: inline-block;
      }

      @descendent icon {
        width: 10px;
        height: 10px;
        margin-left: 6px;

        @modifier broccoli {
          fill: var(--color-broccoli-icon);
        }
        @modifier paprika {
          fill: var(--color-paprika-icon);
        }
      }
    }
  }

  @descendent checkboxes {
    position: relative;
    display: flex;
    align-items: flex-start;

    @descendent group {
      flex: 1 0 0;
      overflow: hidden;
    }

    @descendent checkbox {
      display: block;
      vertical-align: top;
      margin-bottom: 15px;

      @descendent count {
        display: inline-block;
        vertical-align: middle;
        font-size: var(--font-size-secondary);
        color: var(--color-font-secondary);
        margin-left: 5px;
      }
    }
  }

  @descendent autoComplete {
    position: relative;

    @descendent options {
      position: absolute;
      top: 35px;
      left: 0;
      width: 100%;
      background-color: #fff;
      list-style: none;
      padding: 10px 0;

      border: 1px solid rgba(0,0,0,0.12);
      box-shadow: 0px 8px 15px 0px rgba(111,111,111,0.33);
      border-radius: 3px;
      transform-origin: center top;

      visibility: visible;
      backface-visibility: hidden;

      z-index: var(--z-index-popup);

      &:before {
        content: '';
        position: absolute;
        left: 43px;
        top: -5px;
        width: 10px;
        height: 10px;
        background-color: #fff;
        transform: rotate(45deg);
        z-index: 2;
        box-shadow: none;
        border-left: 1px solid rgba(0,0,0,0.12);
        border-top: 1px solid rgba(0,0,0,0.12);
      }

      @descendent option {
        position: relative;
        height: 40px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 40px;
        cursor: pointer;

        @modifier empty {
          color: #b3b3b3;
        }

        a { color: var(--color-prunes); }

        &:hover {
          a { color: var(--color-broccoli); }
        }

        @modifier selected {
          background: #D8F2DE;
        }

        @descendent text {
          display: inline-block;
          color: #707070;

          &:first-letter {
            text-transform: uppercase;
          }

          b {
            color: #454545;
          }
        }
      }
    }
  }
}
