
@import "imports/variables.css";
@import "imports/media-queries.css";

@component AddRecipeButton {
  position: relative;

  @descendent menu {
    position: absolute;
    bottom: 100%;
    left: 50%;
    background: white;
    margin: 0;
    list-style: none;
    padding: 10px;

    width: 250px;
    margin-left: -125px;
    margin-bottom: 10px;

    border: 1px solid rgba(0,0,0,0.12);
    box-shadow: 0px 8px 15px 0px rgba(111,111,111,0.33);
    border-radius: 3px;
    transform-origin: center top;

    visibility: visible;
    backface-visibility: hidden;

    z-index: var(--z-index-popup);

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 10px;
      height: 10px;
      margin-left: -5px;
      background-color: #fff;
      transform: rotate(45deg);
      z-index: 2;
      box-shadow: none;
      border-right: 1px solid rgba(0,0,0,0.12);
      border-bottom: 1px solid rgba(0,0,0,0.12);
    }

    @modifier right {
      margin-left: 0;
      left: auto;
      right: 0;

      &:before {
        left: auto;
        right: 45px;
      }
    }

    @modifier bottom {
      bottom: auto;
      top: 100%;
      margin-top: 10px;

      &:before {
        bottom: auto;
        top: -5px;

        border-bottom: none;
        border-right: none;
        border-left: 1px solid rgba(0,0,0,0.12);
        border-top: 1px solid rgba(0,0,0,0.12);
      }
    }

    @descendent item {
      display: flex;
      flex-direction: row;
      align-items: center;

      height: 40px;
      padding: 0 10px;
      color: inherit;

      @descendent icon {
        width: 18px;
        height: 18px;
        fill: var(--gray-81);
        margin-right: 15px;
      }

      @descendent text {
        text-align: left;
        flex: 1;
      }
    }
  }
}
