
@import "imports/variables.css";
@import "imports/media-queries.css";

@component OnlineCheckoutPlaceholder {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 15px 0;

  @descendent text {
    margin-bottom: 30px;
    text-align: center;
  }

  @descendent image {
    background: url("/images/online-checkout/empty-list-placeholder.png") no-repeat center top;
    background-size: contain;
    height: 195px;
    width: 100%;

    @media (--xxxs) { height: 218px; }
    @media (--xxs)  { height: 257px; }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url("/images/online-checkout/empty-list-placeholder@2x.png");
    }
  }
}
