
@import "imports/variables.css";
@import "imports/media-queries.css";

@component SendItemsToInventory {
  background-color: var(--color-white);
  min-height: 100%;

  @media (--s) {
    border-radius: 2px;
    overflow: hidden;
    width: 500px;
  }

  @descendent inner {
    font-size: 16px;
    padding: 30px;
  }

  @descendent message {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  @descendent faqToggle {
    background-color: var(--color-paprika);
    border-radius: 50%;
    color: var(--color-white);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    margin-left: 5px;
    text-align: center;
    user-select: none;
    width: 18px;
  }

  @descendent methods {
    margin: -5px 0 15px;
  }

  @descendent method {
    & + & {
      margin-top: 10px;
    }
  }

  @descendent link {
    display: block;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
  }
}
