
@import "imports/variables";
@import "imports/media-queries";

@component AuthForOnboardingBanner {
  position: fixed;
  z-index: var(--z-index-start-onboarding-banner);
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, .95);
  will-change: transform;

  @media (--m) {
    padding: 40px 10px;
  }
  @media (--m) {
    display: flex;
    justify-content: center;
  }

  @descendent inner {
    @media (--m) {
      display: flex;
      align-items: center;
    }
  }
  @descendent tagline {
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;

    @media (--m) {
      max-width: 420px;
      margin-right: 20px;
      margin-bottom: 0;
      text-align: left;
      font-size: 24px;
      line-height: 30px;
    }
  }
  @descendent actions {
    width: 100%;
    text-align: center;

    @media (--m) {
      width: auto;
    }
  }
  @descendent action {
    & + & {
      margin-left: 15px;
    }
  }
}
