
@component Mark {
  position: relative;
  width: 384px;
  height: 384px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: '100%';
    height: '100%';

    &:first-child {
      position: relative;
      width: auto;
      height: auto;
    }
  }
}
