
@import "imports/variables.css";
@import "imports/media-queries.css";

@component CheckoutProcessModal {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  padding: var(--grid-offset);
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;

  @descendent inner {
    margin: auto;
    width: 100%;
  }

  @descendent sendingItems {
    transform: translate(0, -50%);

    @descendent title {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;

      @media (--s) {
        font-size: 30px;
        margin-bottom: 28px;
      }
    }

    @descendent description {
      font-size: 16px;
    }

    .Preloader {
      margin-bottom: 8px;

      @media (--s) {
        margin-bottom: 28px;
      }
    }
  }

  @descendent complete {
    @descendent actions {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 35px;
    }

    @descendent action {
      width: 100%;

      & + & {
        margin-top: 9px;
      }

      @media (--s) {
        width: 245px;
      }
    }

    @descendent excuse {
      border-bottom: 1px solid #f0f0f0;
      border-top: 1px solid #f0f0f0;
      color: var(--color-paprika);
      font-size: 16px;
      line-height: 22px;
      padding: 15px;
      margin: 25px -15px 0;

      @media (--s) {
        border: none;
      }
    }

    @descendent items {
      margin: 0 auto;

      @media (--s) {
        max-width: 480px;
      }
    }

    @descendent item {
      display: flex;
      flex-direction: column;

      @media (--s) {
        &:first-child {
          border-top: 1px solid #f0f0f0;
        }
      }

      @descendent inner {
        border-bottom: 1px solid #f0f0f0;
        display: flex;
        margin: 0 -15px;
        min-height: 80px;
        padding: 10px 15px;
        position: relative;
      }

      @descendent imageContainer {
        align-items: center;
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
        margin-right: 10px;
        user-select: none;
        width: 60px;
      }

      @descendent image {
        max-height: 60px;
        max-width: 60px;
      }

      @descendent content {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }

      @descendent main {
        flex-grow: 1;
      }

      @descendent recipe {
        color: var(--color-prunes);
        font-size: 16px;
        line-height: 19px;
        text-align: left;
      }

      @descendent price {
        color: var(--color-prunes);
        font-size: 16px;
        line-height: 19px;
        margin-left: 10px;
        text-align: right;
      }
    }
  }
}
