
@import "imports/variables";
@import "imports/media-queries";

@component OnboardingPreface {
  z-index: var(--z-index-onboarding-preface);
  padding: 25px 14px 20px 14px;

  @media (--s) {
    margin: 50px 0;
  }

  @descendent title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 26px;
    line-height: 30px;

    @media (--s) {
      font-size: 40px;
      line-height: 32px;
    }
  }
  @descendent description {
    margin-bottom: 35px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;

    @media (--s) {
      line-height: 32px;
    }
  }
  @descendent recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -20px;
  }
  @descendent recipe {
    display: flex;
    justify-content: center;
    width: 48%;
    margin-bottom: 20px;
    text-align: center;

    @media (--s) {
      width: 140px;

      & + & {
        margin-left: 30px;
      }
    }
    @media (--m) {
      width: 190px;
    }
  }
}

@component OnboardingBanner {
  display: flex;
  align-items: center;
  margin: 20px 0;

  @media (--s) {
    margin: 90px 0;
  }

  @descendent container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  @descendent content {
    position: relative;
    z-index: var(--z-index-video-banner-text);
    height: 100%;
    margin: auto;
    text-align: center;
  }
  @descendent heading {
    letter-spacing: 0px;
    color: var(--color-white);
    text-shadow: 0px 1px 10px rgba(0, 0, 0, .35);
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;

    @media (--s) {
      font-size: 40px;
      line-height: 32px;
    }
  }
  @descendent description {
    margin-top: 5px;
    color: var(--color-white);
    text-shadow: 0px 2px 8px rgba(0, 0, 0, .4);
    font-size: 18px;
    line-height: 22px;

    @media (--s) {
      line-height: 32px;
    }
    @media (--s) {
      font-size: 20px;
    }
  }
  @descendent action {
    margin-top: 18px;

    @media (--s) {
      margin-top: 22px;
    }
    @media (--l) {
      margin-top: 35px;
    }
  }
}