
@import "imports/variables.css";
@import "imports/media-queries.css";

@component OnboardingBubbleList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: -10px;

  @descendent group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px;

    @media (--s) {
      align-items: flex-start;
      flex-direction: row;
    }

    & + & {
      margin-top: 25px;
    }
  }

  @media (--m) {
    margin-top: auto;
    margin-left: -20px;

    .OnboardingBubble {
      margin-left: 20px;
    }
  }
}
