
@import "imports/variables.css";
@import "imports/media-queries.css";

:root {
  --ProductCard-margin: var(--grid-offset);
  --ProductCard-title-color: #454545;
  --ProductCard-subtitle-color: #A8A8A8;
  --ProductCard-removed-background: #F8F8F8;
  --ProductCard-removed-title-color: #B3B3B3;
}

@component ProductCard {
  margin: 0 var(--ProductCard-margin) 40px;
  padding: 0;
  width: 290px;
  height: 214px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.06);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  will-change: width;

  @when removed {
    background-color: var(--ProductCard-removed-background);

    .ProductCard-image-container {
      opacity: 0.4;
    }

    .ProductCard-title-link {
      color: var(--ProductCard-removed-title-color);
    }
  }

  @media (--xxxs) {
    width: 320px;
  }
  @media (--xs) {
    width: 240px;
  }

  @media (--s) {
    width: 290px;
  }

  @media (--m) {
    width: 270px;
  }

  @media (--xl) {
    width: 290px;
  }

  @descendent content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;

    @descendent right {
      flex: 1;
      margin-left: 15px;
    }
  }

  @descendent info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 15px 15px;
  }

  @descendent match {
    padding: 2px 7px 2px 0;
    border-right: 1px solid #d2d2d2;

    @descendent percent {
      font-size: 22px;
      font-weight: bold;
    }

    @descendent text {
      font-size: 14px;
    }
  }

  @descendent flavors {
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: -5px;

    @descendent flavor {
      & + & {
        margin-top: 5px;
      }

      @descendent color {
        width: 17px;
        height: 17px;
        border-radius: var(--border-radius);
        display: inline-block;
        margin-right: 7px;
        vertical-align: middle;
      }

      @descendent text {
        display: inline-block;
        vertical-align: middle;
        line-height: 14px;
        font-size: 12px;
        color: #A8A8A8;
      }
    }
  }

  @descendent title {
    max-height: 40px;
    overflow: hidden;
    font-size: 17px;
    color: var(--color-prunes);
    line-height: 21px;

    @media (--xs) {
      max-height: 36px;
      font-size: 15px;
      line-height: 18px;
    }

    @media (--s) {
      max-height: 40px;
      font-size: 17px;
      line-height: 21px;
    }
  }

  @descendent discount {
    margin-top: 10px;
    font-size: 15px;
    color: var(--color-tomato);
  }

  @descendent title-link {
    color: var(--color-prunes);

    &:hover {
      color: var(--color-prunes-hover);
    }
  }

  @descendent imageContainer {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
  }

  @descendent image {
    position: absolute;
    height: 100%;

    @modifier horizontal {
      height: auto;
      width: 100%;
    }
  }

  @descendent fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  @descendent fallbackIcon {
    width: 70px;
    height: 80px;
    fill: #e0e0e0;
  }

}

@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1450px 0;
  }
}
