
@import "imports/variables.css";
@import "imports/media-queries.css";

@component SendItemsToInventoryAuthForm {
  margin-bottom: 20px;

  @descendent fields {
    margin-bottom: 10px;
  }

  @descendent field {
    & + & {
      margin-top: 25px;
    }
  }

  @descendent error {
    background-color: var(--color-paprika);
    border-radius: 4px;
    color: var(--color-white);
    font-size: 14px;
    text-align: center;

    padding: 5px 0px;
    margin-bottom: 10px;
  }

  @descendent service {
    font-size: 14px;
    text-align: center;

    @media (--s) {
      font-size: 13px;
    }
  }
}
