
@import "imports/variables.css";
@import "imports/media-queries.css";

:root {
  --CollectionPopup-border-color: rgba(0,0,0,0.12);
  --CollectionPopup-box-shadow: rgba(111,111,111,0.33);
}

@component CollectionsPopup {
  top: inherit;
  right: -10px;
  bottom: 65px;

  position: absolute;
  padding: 0;
  z-index: var(--z-index-popup);
  width: 220px;
  background: transparent;
  border: 1px solid var(--CollectionPopup-border-color);
  box-shadow: 0px 8px 15px var(--CollectionPopup-box-shadow);
  border-radius: 3px;
  line-height: 20px;
  transform-origin: center bottom;

  visibility: visible;
  backface-visibility: hidden;

  animation-iteration-count: 1;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: both;

  @descendent inRecipeView {
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
    right: auto;
    top: auto;

    &:before {
      left: 50%;
    }

    @modifier notEnoughInfo {
      @media (--s) {
        bottom: 0px;
        top: 50px;
      }

      @media (--s) {
        .CollectionsPopup-container {
          box-shadow: 0px 8px 15px var(--CollectionPopup-box-shadow);
        }
      }

      &:before {
        @media (--s) {
          border-left: 1px solid var(--CollectionPopup-border-color);
          border-top: 1px solid var(--CollectionPopup-border-color);
          border-right: 0px;
          border-bottom: 0px;
        }
      }
    }
  }

  @when open {
    animation-name: CollectionsPopup-dropdown-ShowAnimation;
  }

  @when hide {
    animation-name: CollectionsPopup-dropdown-HideAnimation;
  }

  &:before {
    content: '';
    position: absolute;
    right: 37px;
    bottom: -5px;
    width: 10px;
    height: 10px;
    background: #FFF;
    transform: rotate(45deg);
    z-index: 2;
    box-shadow: none;
    border-right: 1px solid var(--CollectionPopup-border-color);
    border-bottom: 1px solid var(--CollectionPopup-border-color);
  }

  @descendent container {
    min-height: 120px;
    max-height: 218px;
    padding: 0;
    background: #FFFFFF;
    border-radius: 3px;

    overflow-x: hidden;
    overflow-y: auto;

    @descendent inner {
      padding: 10px 15px 15px 15px;
    }
  }

  @descendent title {
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: bold;
    color: #3F3F3F;
  }

  @descendent item {
    margin-bottom: 7px;
    font-size: 13px;
    color: #4C4C4C;
    overflow: hidden;
  }

  @descendent input {
    padding: 5px 10px;
    width: 100%;
    height: 28px;
    border: 1px solid #ECECEC;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.21);
    border-radius: 4px;
    outline: none;

    &:focus {
      outline: none;
    }

    @when error {
      border-color: var(--color-paprika);
    }
  }

  @descendent close {
    position: absolute;
    right: 15px;
    top: 11px;
    z-index: 5;
    width: 16px;
    height: 16px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;

    &:hover {
      .CollectionsPopup-close-icon {
        fill: #A3A3A3;
      }
    }

    @descendent icon {
      width: 12px;
      height: 12px;
      fill: #B4B4B4;
    }
  }
}


@keyframes CollectionsPopup-dropdown-ShowAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes CollectionsPopup-dropdown-HideAnimation {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
}
