
@component OnlineCheckoutCategory {
  background-color: #EEEEEE;
}

#content {
  @component OnlineCheckoutItem {
    margin: 0px;
    padding: 0px;

    @descendent image {
      height: 40px;
      width: 40px;
    }

    @descendent recipeInfo {
      font-size: 0.8em;
      color: #999;
    }
  }
}

@component OnlineCheckoutInventory {
  padding: 10px;
  cursor: pointer;

  @when active {
    border: 2px solid #00B5AD;
    border-radius: 4px;
  }
};
