
@import "imports/variables.css";
@import "imports/media-queries.css";

@component OnlineCheckoutItem {
  display: flex;
  flex-direction: column;

  @modifier notFound {
    .OnlineCheckoutItem-inner {
      min-height: 70px;

      @media (--m) {
        min-height: 60px;
      }
    }

    .OnlineCheckoutItem-image {
      background-color: #c2c2c2;
      border-radius: 50%;
      color: var(--color-white);
      font-size: 34px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      width: 45px;
    }

    .OnlineCheckoutItem-content {
      justify-content: center;

      @media (--s) {
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  @when notActive {
    .OnlineCheckoutItem-main,
    .OnlineCheckoutItem-image,
    .OnlineCheckoutItem-price,
    .OnlineCheckoutItem-nameColumn-text {
      opacity: .4;
    }
  }

  @descendent inner {
    background-color: var(--color-white);
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    padding: 10px 100vw;
    flex-direction: row;
    position: relative;
    margin: 0 -100vw;
    min-height: 110px;

    @media (--s) {
      min-height: 80px;
    }

    @media (--m) {
      min-height: 60px;
      padding: 5px 100vw;
    }
  }

  @descendent imageContainer {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    margin-right: 10px;
    user-select: none;
    width: 60px;

    @media (--m) {
      height: 50px;
      margin-right: 20px;
      width: 50px;
    }
  }

  @descendent image {
    height: 100%;
    width: 100%;
  }

  @descendent content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media (--s) {
      flex-direction: row;
      align-items: center;
    }
  }

  @descendent main {
    flex-grow: 1;
  }

  @descendent footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    @media (--s) {
      flex-shrink: 0;
      justify-content: flex-end;
      margin-top: 0;
      margin-left: 10px;
    }
  }

  @descendent name {
    color: #a8a8a8;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 5px;

    @media (--s) {
      line-height: 19px;
      margin-bottom: 0;
    }

    @media (--m) {
      display: none;
    }
  }

  @descendent nameColumn {
    display: none;

    @media (--m) {
      align-items: center;
      border-right: 1px solid #f0f0f0;
      color: var(--color-prunes);
      display: flex;
      flex-shrink: 0;
      font-size: 16px;
      line-height: 19px;
      margin: -5px 9px -5px 0;
      padding: 5px 9px 5px 0;
      width: 320px;
    }

    @media (--l) {
      width: 345px;
    }

    @media (--xl) {
      width: 355px;
    }

    @media (--xxl) {
      width: 365px;
    }
  }

  @descendent recipe {
    color: var(--color-prunes);
    font-size: 15px;
    line-height: 17px;

    @media (--s) {
      line-height: 19px;
    }

    @media (--m) {
      font-size: 16px;
    }
  }

  @descendent link {
    &,
    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  @descendent price {
    color: var(--color-prunes);
    font-size: 18px;
    line-height: 19px;

    @media (--s) {
      font-size: 16px;
      min-width: 58px;
      text-align: right;
      order: 1;
    }
  }

  @descendent quantity {
    @media (--s) {
      margin-right: 14px;
      order: 0;
    }
  }
}
