@import "imports/variables.css";
@import "imports/media-queries.css";

@component Settings {
  @descendent container {
    margin: 0 auto;
    padding-right: var(--grid-offset);
    padding-left: var(--grid-offset);
    max-width: 670px;

    @modifier main {
      padding-bottom: 45px;
    }
  }

  @descendent formLink {
    cursor: pointer;
  }

  @descendent tabList {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @descendent tabs {
    padding-top: 22px;
    background-color: #f7f7f7;

    @media (--m) {
      padding-top: 35px;
    }
  }

  @descendent servings {
    display: inline-block;
    margin-right: 20px;

    @media (--m) {
      margin-right: 40px;
    }
    
    @descendent container {
      display: flex;
      flex: 1 0 auto;
      align-items: center;
    }

    @descendent field {
      margin-right: 9px;
      max-width: 35px;
    }

    .Input-field {
      padding: 0;
      text-align: center;
    }
  }

  @descendent avoidances {
    @descendent list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-top: 12px;
    }
  }

  @descendent avoidance {
    width: 50%;
    padding-left: 20px;
    margin-top: 8px;

    @descendent remove {
      display: inline-block;
      margin-right: 8px;
      cursor: pointer;
    }

    @descendent icon {
      width: 20px;
      height: 20px;
      fill: #c2c2c2;
      vertical-align: bottom;
    }

    @descendent text {
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-prunes);

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  @descendent tab {
    display: block;
    margin-right: 22px;
    padding: 20px 0 18px;
    font-size: 22px;
    color: var(--color-prunes);
    line-height: 22px;
    border-bottom: 5px solid transparent;
    cursor: pointer;

    &:hover {
      color: var(--color-tomato-hover);
    }

    &:last-of-type {
      margin-right: 0;
    }

    @when selected {
      color: var(--color-tomato);
      border-bottom-color: var(--color-tomato);
    }
  }

  @descendent tabPanel {
    padding: 3px 0;
    border-top: 1px solid rgba(0,0,0,0.07);

    @media (--m) {
      padding-top: 29px;
    }
  }

  @descendent formDivider {
    margin: 18px 0 17px;
    border-bottom: 1px solid #ebebeb;
  }

  @descendent formGroup {
    padding: 18px 0;
    border-bottom: 1px solid #ebebeb;

    @media (--m) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    @modifier multiline {
      @media (--m) {
        .Settings-formLabel {
          align-self: flex-start;
          margin-top: 10px;
        }
      }
    }

    @modifier multilineButtons {
      @media (--m) {
        .Settings-formLabel {
          align-self: flex-start;
        }
      }
    }

    @modifier topDivider {
      margin-top: 12px;
      padding: 19px 0 9px;
      border-top: 1px solid #ebebeb;
      border-bottom-color: transparent;
    }

    @modifier noDivider {
      padding: 9px 0;
      border-bottom-color: transparent;
    }
  }

  @descendent formLabel {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
    color: var(--color-prunes);
    line-height: 24px;

    @media (--m) {
      flex: 0 0 174px;
      width: 174px;
      margin-bottom: 0;
    }
  }

  @descendent formControl {
    flex: 1 1 auto;

    @descendent wrap {
      padding-bottom: 12px;
    }

    @descendent row {
      display: flex;
      flex-direction: row;
      margin: 0 -4px;
    }

    @descendent column {
      flex: 1 1 auto;
      padding: 0 4px;
    }

    @descendent text {
      font-size: 15px;
      color: var(--color-prunes);
      line-height: 24px;
    }
  }

  @descendent formHint {
    padding-top: 7px;
    font-size: 13px;
    line-height: 15px;
  }

  @descendent actionGroup {
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    @media (--m) {
      flex-direction: row;
      align-items: center;
    }

    @descendent item {
      flex: 1 0 auto;
      text-align: center;

      & + & {
        margin-top: 25px;

        @media (--m) {
          margin-top: 0;
        }
      }

      @modifier delete {
        @media (--m) {
          order: 1;
          text-align: left;
        }
      }

      @modifier save {
        display: block;

        @media (--m) {
          text-align: right;
          order: 2;
        }
      }
    }
  }

  @descendent passwordActionGroup {
    display: flex;
    flex-direction: column;

    @media (--m) {
      flex-direction: row;
    }

    @descendent item {
      @modifier cancel {
        @media (--m) {
          margin-right: 10px;
          order: 1;
        }
      }

      @modifier save {
        margin-bottom: 15px;

        @media (--m) {
          order: 2;
          margin-bottom: 0;
        }
      }
    }
  }

  @descendent button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 19px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;

    & + & {
      @media (--m) {
        margin-right: 10px;
      }
    }

    @modifier save {
      width: 100%;

      @media (--m) {
        width: auto;
      }
    }

    @modifier delete {
      color: var(--color-paprika);
      padding-left: 0;
      padding-right: 0;

      &:hover {
        color: var(--color-paprika-hover);
      }
    }

    @descendent text {
      display: inline-block;
      vertical-align: middle;
    }

    @when disabled {
      &,
      &:hover {
        color: #fff;
        border-color: #acdabe;
        background-color: #acdabe;
        cursor: default;
      }
    }
  }

  @descendent photoLabel {
    display: none;

    @media (--m) {
      display: block;
    }
  }

  @descendent inlineList {
    margin-left: -30px;

    .Checkbox {
      display: inline-block;
      margin-left: 30px;
    }
  }
}

@component SettingsAvatar {
  @descendent container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @descendent image {
    margin-right: 20px;
    width: 106px;
    height: 106px;
    background-color: #F6F6F6;
    box-shadow: none;
    border-radius: 100%;
    overflow: hidden;

    @descendent icon {
      width: 106px;
      height: 106px;
    }

    @when uploading {
      display: flex;
      justify-content: center;
      align-items: center;

      .Preloader {
        margin: 0;
      }
    }
  }

  @descendent actions {
    flex: 1 0 auto;

    @descendent item {
      padding: 2px 0;
    }
  }

  @descendent action {
    @modifier delete {
      color: #838b8c;
      fill: #838b8c;
      margin-left: -12px;
    }
  }
}
