
@import "imports/variables";
@import "imports/media-queries";

@component Home {
  @descendent hero {
    position: relative;
  }
  @descendent heroBackground {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-position: 30% top;
    background-size: cover;

    &:before {
      position: absolute;
      z-index: var(--z-index-hero-background-shadow);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background-color: rgba(0, 0, 0, .35);
    }
  }
  @descendent heroBackgroundImage {
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;

    @media (--s) {
      width: 100%;
      height: auto;
    }
  }
  @descendent onboardingPreface {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -80px;
    padding-top: 80px;
    color: var(--color-white);
  }
}
