
@import "imports/variables.css";
@import "imports/media-queries.css";

@component FindAlternativesSearch {
  margin-bottom: 19px;

  @descendent field {
    @media (--s) {
      margin: 0 auto; 
      max-width: 380px;
    }
  }
}
